@page "/topusers"
@using AchiveClub.Shared.DTO
@inject HttpClient _client
@inject NavigationManager _navigation

<header>
    <div class="heading-wrapper">
        <div id="profileSlogan">
            <span>Топ <b>100</b> игроков</span>
        </div>
    </div>
</header>
<!-----------------------------------header----------------------------------------->
<main>
    <div class="topUsers">
        @if (_users != null)
        {
            @foreach(var user in _users)
            {
                <div class="@GetUserClass(user)" @onclick="()=>RedirectToUserId(user.Id)">
                    <div class="userImage">
                        <img src="@user.Avatar" alt="">
                    </div>
                    <div class="userAboutWrapper">
                        <div class="nameSurnameUser">
                            <span>@user.FirstName @user.LastName</span>
                        </div>
                        <div class="xpCountDefaultUser">
                            <span>@user.XPSum XP</span>
                        </div>
                    </div>
                    <div class="ClubLogoAndPositionUser">
                        <div class="clubUserLogo">
                            <img src="./image/Без имени-1.png" alt="">
                        </div>
                        <div class="topPositionUserDefault">
                            <span>#@(_users.IndexOf(user)+1)</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</main>
<!-----------------------------------main----------------------------------------->
@code
{
    private List<SmallUserInfo> _users;

    protected async override Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        _users = await _client.GetFromJsonAsync<List<SmallUserInfo>>("/api/Users");
    }

    private string GetUserClass(SmallUserInfo user)
    {
        int number = _users.IndexOf(user);
        switch (number)
        {
            case 0:
                return "topOneUser";
            case 1:
                return "topTwoUser";
            case 2:
                return "topThreeUser";
            default:
                return "topUser";
        }
    }

    private void RedirectToUserId(int id)
    {
        _navigation.NavigateTo($"/user/{id}");
    }
}